<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <a href="/" class="nav-logo">{{ site.title or 'Portfolio' }}</a>
            <ul class="nav-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/blog" class="nav-link">Blog</a></li>
            </ul>
            <div class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>
